.idea/*
cmake-build-debug/*
*/cmake-build-debug/*
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Project.iml
.idea/workspace.xml
CMakeLists.txt
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles
cmake-build-debug/cmake_install.cmake
cmake-build-debug/ConfigInterpreter.h
cmake-build-debug/Makefile
cmake-build-debug/Project.cbp
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps